// C O L O R S

$color-yellow: #F4CE00;
$color-orange: #F46632;
$color-orange-2: #FF4900;
$color-dark: #0B0A0A;
$color-black: #050505;
$color-dark-light: #707070;

$color-text-dark: #333;
$color-text-light: #ccc;

// M I X I N S
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}