.btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: $color-orange;
    padding: 10px 40px;
    margin-bottom: 20px;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.8rem;
    border-radius: 5px;
    font-weight: 600;
}
.buttonPart {
    text-align: center;
}