.social-navi{
	//height: 100vh;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
	.navi-nav{
		a{
			height: 50px;
			width: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			text-decoration: none;
			color: white;
			transition: .2s;
		}
		.fa-facebook-f{
			background-color: $facebook;
			&:hover{
				background-color: darken($facebook, 10%);
			}
		}
		.fa-twitter{
			background-color: $twitter;
			&:hover{
				background-color: darken($twitter, 10%);
			}
		}
		.fa-linkedin-in{
			background-color: $linkedIn;
			&:hover{
				background-color: darken($linkedIn, 10%);
			}
		}
		.fa-envelope{
			background-color: $mail;
			&:hover{
				background-color: darken($mail, 10%);
			}
		}
	}
}

.section {
    &-home {
        //margin-top: -20vh;
        .part-1{
            background: url(../images/Bricklane_Ifte_Choudhury.jpg) left top no-repeat;
            background-attachment: fixed;
            background-size: cover;
            height: 90vh;
            @media only screen and (max-width: 645px){
                height: 72vh;
            }
        }
        .part-2{
            background: $color-yellow;

            .centered-box {
                background: white;
                min-height: 300px;
                width: 74%;
                margin: 0 auto;
                border-radius: 10px;
                transform: translateY(-80px);

                .body{
                    min-height: 180px;
                    @include clearfix;

                    .imagePart{
                        float: left;
                        width: 25%;
                        text-align: center;
                        img {
                            padding-top: 0;
                            width: 14vw;
                            transform: translateY(-15%);
                            @media (max-width: 1060px) {
                                width: 30%;
                            }
                            @media (max-width: 610px) {
                                width: 50%;
                            }
                        }
                        @media (max-width: 1060px) {
                            float: none;
                            width: 100%;
                            margin-bottom: 10px;
                        }
                    }
                    .textPart{
                        float: left;
                        width: 60%;
                        margin-left: 2%;
                        margin-top: -1%;
                        margin-bottom: 2%;
                        padding-right: 0px;
                        p {
                            padding-right: 0;
                        }
                        @media (max-width: 1060px) {
                            margin-left: 6%;
                            float: none;
                            width: 100%;
                        }
                    }
                }
            }

        }
    }

    &-about {
        min-height: 100vh;
        background-color: $color-dark;
        padding-top: 50px;
        > div {
            background: url(../images/Untitled-2.png) left top no-repeat;
            background-size: cover;
            transform: translate(30);
            transform: scale(0.84);
            border-radius: 10px;
            @media only screen and (max-width: 645px){
                min-height: 50vh;
                background: white;
                transform: scale(1);
                border-radius: 0;
            }
    
            .body {
                width: 35%;
                @media only screen and (max-width: 1000px){
                    width: 45%;
                }
                @media only screen and (max-width: 760px){
                    width: 55%;
                }
                @media only screen and (max-width: 645px){
                    width: 100%;
                }
                .heading {
                    padding-top: 100px;
    
                    h1 {
                        @media only screen and (max-width: 690px) {
                            font-size: 2.8rem;
                        }
                        span {
                            @media only screen and (max-width: 690px) {
                                font-size: 6rem;
                            }
                        }
                    }
                }
    
                .text p {
                    padding: 50px;
                    padding-bottom: 80px;
                    width: 120%;
                    //font-size: calc(1.8rem + (1.8*0.16)rem);
                    font-size: 2.14rem;
                    line-height: 3rem;
                    //transform: scale(1.16);
    
                    @media only screen and (max-width: 1000px){
                        width: 100%;
                        font-size: 1.6rem;
                    }
                }
            }
        }
        
    }

    &-mission {
        background: linear-gradient(to bottom, $color-dark 20%, $color-yellow 20%);
        @media only screen and (max-width: 690px) {
            background: linear-gradient(to bottom, $color-dark 30%, $color-yellow 30%);
        }
        margin-top: -10px;

        .topPart {
            @include clearfix;
            .heading {
                float: left;
                width: 35%;
                margin-top: 15%;

                h1 {
                    font-size: 4rem;
                    @media only screen and (max-width: 690px) {
                        font-size: 2.8rem;
                        color: $color-text-light;
                    }

                    span {
                        @media only screen and (max-width: 690px) {
                            font-size: 6rem;
                            color: $color-text-light;
                        }
                    }
                }

                @media only screen and (max-width: 690px) {
                    float: none;
                    width: 100%;
                    padding-top: 40px;
                    padding-bottom: 40px;
                }
            }
            .image {
                float: left;
                width: 65%;
                text-align: right;
                img {
                    width: 100%;
                }

                @media only screen and (max-width: 690px) {
                    float: none;
                    width: 100%;
                    margin-top: -8%;
                }
            }
        }
        .text {
            z-index: 5;
            width: 65%;
            margin-left: auto;
            margin-right: auto;
            padding: 50px;
            padding-top: 10px;
            position: relative;

            @media only screen and (max-width: 690px) {
                padding: 12px;
                margin-top: 30px;
                padding-bottom: 20px;
                width: 90%;
            }
            
            img {
                position: absolute;
                top: -80%;
                left: 0;
                width: 100%;
                height: 170%;
                background: white;
                opacity: 0.5;
                z-index: -2;
                border-radius: 6px;

                @media only screen and (max-width: 690px) {
                    padding: 12px;
                    margin-top: 30px;
                    top: -50%;
                    height: 130%;
                }
            }

            p {
                padding-right: 20px;
                padding-left: 20px;
                text-align: center;
            }
        }
    }

    &-events {
        background: $color-black;
        padding-bottom: 40px;

        .heading {
            padding-top: 50px;

            h1 {
                color: $color-text-light;

                span {
                    color: $color-text-light;
                }
            }
        }
        .reading {
            background: rgba($color-dark-light, 0.2);
            text-align: center;
            width: 98%;
            border-radius: 10px;
            margin: auto;
            margin-top: 80px;
            position: relative;
            .date {
                position: absolute;
                top: -14%;
                left: 5%;
                background: white;

                @media only screen and (max-width: 815px) {
                    transform: scale(0.7);
                    top: -24%;
                    left: 3%;
                }
                @media only screen and (max-width: 690px) {
                    transform: scale(0.5);
                    top: -30%;
                    left: 0;
                }
            }
            .body {
                img {
                    width: 60%;
                    margin-top: -6.4%;
                }
                h1 {
                    font-size: 3rem;
                    color: white;
                    margin-top: -2%;
                    padding-bottom: 6%;
                }
            }
            .button {
                position: absolute;
                bottom: -4.6%;
                right: 10%;

                @media only screen and (max-width: 815px) {
                    transform: scale(0.8);
                    bottom: -8%;
                    right: 10%;
                }
                @media only screen and (max-width: 690px) {
                    transform: scale(0.7);
                    bottom: -10%;
                    right: 10%;
                }
            }
        }
    }

    &-members {
        padding-top: 200px;
        padding-bottom: 0;
        background: $color-black;

        .slider {
            margin: 0 auto;
            max-width: 940px;

            .slide_viewer {
                height: $slider-height;
                overflow: hidden;
                position: relative;

                .slide_group {
                    height: 100%;
                    position: relative;
                    width: 100%;

                    .slide {
                        display: none;
                        height: 100%;
                        position: absolute;
                        width: 100%;
            
                        &:first-child {
                            display: block;
                        }
                
                        &:nth-child(odd){
                              background-color: $color-yellow;
                        }
                
                        &:nth-child(even){
                            background-color: $color-orange;
                        }

                        .innerPart {
                            width: 74%;

                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);

                            p{
                                text-align: center;
                                padding: 0;
                                margin: 0;
                                @media (max-width: 1060px) {
                                    padding: 0;
                                    margin: 0;
                            
                                }
                                @media only screen and (max-width: 690px) {
                                    padding: 0;
                                    margin: 0;
                                }

                                &.text-bangla, &.text-quote {
                                    margin-top: 20px;
                                }
                                
                                &.text-quote{
                                    padding-left: 30%;
                                }
                            }
                        }
                    }
                }
            }

        }
          
        .slide_buttons {
            left: 0;
            position: absolute;
            right: 0;
            text-align: center;
        }
          
        a.slide_btn {
            color: #474544;
            font-size: 42px;
            margin: 0 0.175em;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
        }
          
        .slide_btn.active, .slide_btn:hover {
            &:nth-child(even){
                color: $color-yellow;
            }
    
            &:nth-child(odd){
                color: $color-orange;
            }
            //color: #428CC6;
            cursor: pointer;
        }
          
        .directional_nav {
            height: $slider-height;
            margin: 0 auto;
            max-width: 940px;
            position: relative;
            top: -$slider-height;
        }
          
        .previous_btn {
            bottom: 0;
            left: 40px;
            margin: auto;
            position: absolute;
            top: 0;
        }
          
        .next_btn {
            bottom: 0;
            margin: auto;
            position: absolute;
            right: 40px;
            top: 0;
        }
          
        .previous_btn, .next_btn {
            cursor: pointer;
            height: 65px;
            opacity: 0.5;
            -webkit-transition: opacity 0.4s ease-in-out;
            -moz-transition: opacity 0.4s ease-in-out;
            -ms-transition: opacity 0.4s ease-in-out;
            -o-transition: opacity 0.4s ease-in-out;
            transition: opacity 0.4s ease-in-out;
            width: 65px;
        }
          
        .previous_btn:hover, .next_btn:hover {
            opacity: 1;
        }
          
        @media only screen and (max-width: 767px) {
            .previous_btn {
                left: 10px;
            }
            .next_btn {
                right: 10px;
            }
        }
    }

    &-footer {
        height: 140px;
        background: url("../images/Group 929.png") left top no-repeat;
        background-size: contain;
        background-color: #6f6f6f;
        @include clearfix;
    }

    &-about {
        &-header {
            img {
                width: 100%;
            }
        }
        &-footer {
            min-height: 100vh;
            background-color: #F8F9C7;
            text-align: center;

            .part1, .part2 {
                width: 65%;
                padding: 30px;
                margin: auto;
                @media (max-width: 960px) {
                    width: 80%;
                }
                @media (max-width: 560px) {
                    width: 100%;
                }
            }
            
            .part1 {
                padding-top: 150px;
                width: 60%;
                transform: translateX(-16px);
                @media (max-width: 960px) {
                    width: 74%;
                    transform: translateX(0);
                }
                @media (max-width: 560px) {
                    width: 94%;
                }
            }
            .part2 {
                @media (max-width: 560px) {
                   font-size: 12px; 
                }
            }

        }
    }
    &-events {
        &-header {
            background: #FDFCEE;
            .part {
                margin: auto;
                width: 70%;
                padding: 30px;
                padding-top: 10px;
            }
        }
        &-middle {
            background: #FDFCEE;
            text-align: center;
            img {
                width: 70%;
            }
        }
        &-last {
            background: #FDFCEE;
            min-height: 100vh;

            h1 {
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-weight: 600;
                font-size: 46px;
            }
        }
    }

    &-get-in-touch {
        max-width: 650px;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 960px) {
            max-width: 80%;
            width: 80%;
        }

        @media (max-width: 960px) {
            max-width: 98%;
            width: 98%;
        }
       
       .title {
          text-align: center;
          font-family: Raleway, sans-serif;
          text-transform: uppercase;
          letter-spacing: 3px;
          font-size: 36px;
          line-height: 48px;
          padding-bottom: 48px;
       }

       .contact-form {
        .form-field {
           position: relative;
           margin: 32px 0;


        }
        .input-text {
           display: block;
           width: 100%;
           height: 36px;
           border-width: 0 0 2px 0;
           border-color: #000;
           font-family: Lusitana, serif;
           font-size: 18px;
           line-height: 26px;
           font-weight: 400;
           
           &:focus {
              outline: none;
           }
           
           &:focus,
           &.not-empty {
              + .label {
                 transform: translateY(-24px);
              }
           }
        }
        .label {
           position: absolute;
           left: 20px;
           bottom: 11px;
           font-family: Lusitana, serif;
           font-size: 18px;
           line-height: 26px;
           font-weight: 400;
           color: #888;
           cursor: text;
           transition: transform .2s ease-in-out;
        }
        
        .submit-btn {
           display: inline-block;
           background-color: #000;
           color: #fff;
           font-family: Raleway, sans-serif;
           text-transform: uppercase;
           letter-spacing: 2px;
           font-size: 16px;
           line-height: 24px;
           padding: 8px 46px;
           border: none;
           border-radius: 5px;
           cursor: pointer;
        }
     }
     }   
}